<body>
    <div class="container">
        <h1 class="titile">Reset Password</h1>

        <div class="form">
            <p class="fgtPsw">Forgot Password</p>
            <p>You can reset your password here.</p>


                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@ E-mail</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Type your E-mail here">
                </div>

                <button class="btn">Send My Password</button>

                <a routerLink="" class="loginLink" (click)="backToLogin()">LOGIN</a>

        </div>
    </div>
</body>