body{
    background-color: #0DB2F2;
    height : 937px;
    text-align: center;
}
@media only screen and (max-width: 450px) {
    body {
        height : 812px;
    }
  }
.titile{
    text-align: center;
    color: #fff;
    padding-top: 15%;
    font-size: 46px;
    font-weight: bold;
}
@media only screen and (max-width: 450px) {
    .titile {
        padding-top: 40%;
    }
  }
.form{
    width: 450px;
    height: 350px;
    background-color: #fff;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
@media only screen and (max-width: 450px) {
    .form {
        width: 350px;
        height: 350px;
    }
  }
.fgtPsw{
    padding-top: 3%;
    font-size: 36px;
    font-weight: bold;
    color: #0DB2F2;
}
.input-group{
    width: 420px;
    height: 50px;
    position: relative;
    left: 3%;
}
.input-group-text{
    height: 50px;
}
@media only screen and (max-width: 450px) {
    .input-group {
        width: 330px;
    }
  }
.btn{
    margin-top: 48px;
    width: 420px;
    height: 56px;
    background-color: #0DB2F2;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    margin-bottom: 2%;
  }
  @media only screen and (max-width: 450px) {
    .btn {
      margin-top: 60px;
        width: 330px;
    }
  }
  .loginLink{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #0DB2F2;
  }