<div class="container">
    <div class="LoginPosition">
        <img [src] = UsrHead class="UsrHead"><br>
        <img [src] = UsrBody class="UsrBody">

        <p class="LogTitile">Login</p>

        <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form-signin">
            <div class="spaceRows">
                <label for="inputEmail">Username</label><br>
                <input type="text" id="username" class="form-control" 
                                          formControlName="userName" placeholder="Username" required autofocus>
            </div>
            <div class="spaceRows">
                <label for="inputPassword">Password</label><br>
                <input type="password" id="inputPassword" class="form-control" 
                                          formControlName="password" placeholder="Password" required>
            </div>
                <a class="FgtPassword" routerLink="/resetpassword">Forgot password?</a><br>
                <p class="erorMsg">{{erorMsg}}</p>

                <button type="submit" class="btn">LOGIN</button><br>

                <a class="signUp" routerLink="/siginup">SIGN UP</a>

                <p class="OrSignUpUsing">Or Sign Up Using</p>

                <img [src] = fb class="icons">
                <img [src] = in class="icons">
                <img [src] = google class="icons">

        </form>

    </div>
    
</div>
<div class="container-fluid">
    <a routerLink="" class="FooterleftText">Task Manager | Test Web App</a>
    <p class="FooterRightText">Version 1.0.2</p>
</div>
