<div class="container">
    <div class="LoginPosition">
        <img [src] = UsrHead class="UsrHead"><br>
        <img [src] = UsrBody class="UsrBody">

        <p class="LogTitile">Login</p>

    <div class="spaceRows">
        <label>Username</label><br>
        <input type="text" class="form-control" placeholder="Type your username">
    </div>
    <div class="spaceRows">
        <label>Password</label><br>
        <input type="text" class="form-control" placeholder="Type your Password">
    </div>
        <a class="FgtPassword" routerLink="/resetpassword">Forgot password?</a><br>

        <button class="btn">LOGIN</button><br>

        <a class="signUp" routerLink="/siginup">SIGN UP</a>

        <p class="OrSignUpUsing">Or Sign Up Using</p>

        <img [src] = fb class="icons">
        <img [src] = in class="icons">
        <img [src] = google class="icons">
    </div>
    
</div>
<div class="container-fluid">
    <a routerLink="" class="FooterleftText">Task Manager | Test Web App</a>
    <p class="FooterRightText">Version 1.0.2</p>
</div>
