<div class="container-fluid"><!--Navigation-->

    <a href="javascript:void(0)" class="openClosebtnOnMobile" (click)="openClosebtnOnMobile()" *ngIf="isMobile == true">
            <div  class="hrMobile"></div>
            <div  class="hr2Mobile"></div>
            <div  class="hrMobile"></div>
    </a>
    
    <p class="navTitle" [style.margin-left.px]="marginLeftContent" id="main" *ngIf="isMobile == false">ALL TASKS - TEST WEB APP</p> <!--Move titile text when sidebar is open-->

    <span class="logUserImg">
        <img [src] = UsrHead class="UsrHead"><br>
        <img [src] = UsrBody class="UsrBody">
    </span>
    
    <div class="curentUserLoged">
        <p class="curentUser">AC</p>
    </div>
<!--End navigation-->

<!--Sidebar-->
    <div [style.width.px]="widthmySidebar" id="mySidebar" class="sidebar" *ngIf="showHideNav == false">
        <a href="javascript:void(0)" class="openClosebtn" (click)="OpenCloseNav()" *ngIf="isMobile == false">
            <div  class="hr"></div>
            <div  class="hr2"></div>
            <div  class="hr"></div>
        </a>
        <a href="javascript:void(0)" class="openClosebtn" (click)="openClosebtnOnMobile()" *ngIf="isMobile == true">
            <div  class="hr"></div>
            <div  class="hr2"></div>
            <div  class="hr"></div>
        </a>
        
        <span *ngIf="widthmySidebar == 116">
            <a href="#">
                <img [src] = vector >
                <span class="badge" *ngFor="let x of taskArray">{{x.id}}</span>
            </a>
            <a href="#"><div  class="hr3"></div></a>
            <a>
                <img [src] = addIcon class="addIcon" (click)="openPopUp()">
            </a>
            <a href="#">
                <img [src] = editIcon class="editIcon">
            </a>
            <a href="#">
                <img [src] = deleteIcon class="deleteIcon">
            </a>
            <a href="#"><div  class="hr3"></div></a>
            <a href="#">
                <img [src] = settingIcon class="setingIcon">
            </a>
        </span>
    
        <span *ngIf="widthmySidebar > 116">
            <a href="#">
                <img [src] = vector>
                <span class="badge" *ngFor="let x of taskArray">{{x.id}}</span>
                <p class="icosTextNot" >NOTIFICATIONS</p>
            </a>
            <a href="#"><div  class="hr3"></div></a>
            <a href="#">
                <img [src] = addIcon class="addIcon">
                <p class="icosText" >CREATE TO DO</p>
            </a>
            <a href="#">
                <img [src] = editIcon class="editIcon">
                <p class="icosText" >EDIT TO DO</p>
            </a>
            <a href="#">
                <img [src] = deleteIcon class="deleteIcon">
                <p class="icosText" >REMOVE TO DO</p>
            </a>
            <a href="#"><div  class="hr3"></div></a>
            <a href="#">
                <img [src] = settingIcon class="setingIcon">
                <p class="icosTextSetting" >SETTINGS</p>
            </a>
        </span>
        
      </div>
<!--End sidebar-->

<!--toDoInputs-->
    <div class="container">
        <span class="toDoInputs">
          <label>TO DO search</label>
          <input type="text" class="form-control" placeholder="Type something">
        </span>
  
        <span class="toDoInputs">
          <label>TO DO date from</label>
          <input type="date" class="form-control" placeholder="Pick a date">
        </span>
  
        <span class="toDoInputs">
          <label>TO DO date to</label>
          <input type="date" class="form-control" placeholder="Pick a date">
        </span>
  
        <span class="toDoInputs">
          <label>TO DO status</label>
  
          <select class="form-control toDoSelect">
              <option value="catalogue">Pick a status </option>
              <option value="modal">Modal</option>
              <option value="price">Price</option>
              <option value="popular">Most Popular</option>
          </select>
          
        </span>
     <!--End toDoInputs-->


    <!--infoBox-->
    <span *ngFor="let x of taskArray">

        <!--infoBox-->
            <div class="infoBox" *ngIf="x.showMore == false">

                <div class="logUserInfoBox">
                    <span class="userInfoBox">{{x.owner}}</span>
                </div>

                <p class="titleInfoBox">{{x.title}}</p>

                <p class="dateInfoBox">Created on: {{x.date | date:'shortDate'}}</p>

                <p class="progressInfoBox">{{x.status}}</p>

                    <a href="javascript:void(0)" class="dots" (click)="showMore(x.id)">...</a>

                    <div class="logUserBigInfoBox">
                        <p class="textlogUserBigInfoBox">{{x.user}}</p>
                    </div>
            </div>
        <!--End infoBox-->



        <div class="infoBox" *ngIf="x.showMore == true" [style.height.px]="showMoreBoxHeight" >

            <div class="logUserInfoBoxBig">
                <span class="userInfoBox">{{x.owner}}</span>
            </div>
    
            <p class="titleInfoBox">{{x.title}}</p>
    
            <p class="dateInfoBox">Created on: {{x.date | date:'shortDate'}}</p>
    
            <p class="progressInfoBox">{{x.status}}</p>
    
                <a href="javascript:void(0)" class="dots" (click)="showMore(x.id)">...</a>
    
                <div class="logUserBigInfoBox">
                    <p class="textlogUserBigInfoBox">{{x.user}}</p>
                </div>
    
                <p class="textInBox">{{x.text}}</p>
        </div>
    </span>
    <!--End infoBox-->

    </div>

    
</div>

<div class="container">
    
    <div class="popUpForm" *ngIf="isShown == true">

        <div class="spaceBetweenInputs">
            <label class="lbl">To Do name</label><br>
            <input type="text" class="formInput" placeholder="Type a TO DO name">
        </div>

        <div class="spaceBetweenInputs">
            <label class="lbl">TO DO status</label><br>
            <input type="text" class="formInput" placeholder="Pick a status">
        </div>

        <div class="spaceBetweenInputs">
            <label class="lbl">Assigned To</label><br>
            <input type="text" class="formInput" placeholder="Enter name or email address">
        </div>

        <div class="spaceBetweenInputs">
            <label class="lbl">Description</label><br>
            <textarea></textarea>
        </div>
        
        <button class="btn">+ Add TO DO</button>
        
    </div>

</div>